<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.istekno.coffeebreakapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_coffe_right"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_coffe_right_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeBreakApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".main.maincontent.order.detail.DetailOrderActivity"/>
        <activity android:name=".main.checkout.CheckoutActivity" />
        <activity android:name="com.istekno.coffeebreakapp.main.maincontent.orderhistory.detail.DetailOrderHistoryActivity" />
        <activity android:name=".main.promo.PromoActivity" />
        <activity android:name=".main.favorite.FavoriteActivity" />
        <activity android:name=".main.editprofile.EditProfileActivity" />
        <activity android:name=".main.editpassword.EditPasswordActivity" />
        <activity android:name=".main.forgotpassword.checkemail.CheckEmailActivity" />
        <activity android:name=".main.forgotpassword.resetpassword.ResetPasswordActivity" />
        <activity android:name=".main.payment.PaymentActivity" />
        <activity android:name=".main.cart.CartActivity" />
        <activity android:name=".main.detailproduct.DetailProductActivity" />
        <activity android:name=".main.maincontent.mainactivity.MainContentActivity" />
        <activity android:name="com.istekno.coffeebreakapp.main.maincontent.orderhistory.OrderHistoryActivity" />
        <activity android:name=".main.signup.SignupActivity" />
        <activity android:name=".main.login.LoginActivity" />
        <activity android:name=".main.mainpage.MainPageActivity" />
        <activity android:name=".main.welcomepage.WelcomePageActivity" />
        <activity android:name=".main.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>